Josh Austin Mikhail T. Natividad\
BSCS-ST

references:
- https://pandas.pydata.org/docs/

# Zomato Exercise

Zomato is a restaurant aggregator website. The platform provides information, menus and user-reviews of restaurants as well as food delivery options from partner restaurants in select cities. You have been provided 3 datasets:

- zomato.csv contains restaurant information like average_cost_for_two, cuisines
- location.csv contains location of the restaurants like address, city, locality & etc
- ratings.csv contains aggregate rating for each restaurant

The different files are connected using the `id` columns which can be found in the different files. The id column is a unique identifier to represent a restaurant. You can use this to **merge** the different files.

In [1]:
from heapq import merge

import pandas as pd
import numpy as np

1. Merge the zomato, location & ratings file into a signle dataframe and store it to the `merged_df` variable **(3pts)**

In [2]:
zomato_df = pd.read_csv('zomato.csv')
location_df = pd.read_csv('location.csv')
ratings_df = pd.read_csv('ratings.csv')

merged_df = pd.merge(zomato_df, location_df, on='id')
merged_df = pd.merge(merged_df, ratings_df, on='id')
merged_df.shape

(6830, 35)

In [3]:
assert (6830, 35)==merged_df.shape

cols = ['id', 'address', 'city', 'city_id', 'country_id', 'latitude',
       'locality', 'locality_verbose', 'longitude', 'zipcode',
       'aggregate_rating', 'rating_color', 'rating_text', 'votes',
       'average_cost_for_two', 'book_url', 'cuisines', 'currency', 'deeplink',
       'events_url', 'featured_image', 'has_online_delivery',
       'has_table_booking', 'include_bogo_offers', 'is_book_form_web_view',
       'is_delivering_now', 'is_table_reservation_supported',
       'is_zomato_book_res', 'menu_url', 'mezzo_provider', 'name',
       'photos_url', 'price_range', 'thumb', 'url']
len(cols)

assert sorted(merged_df.columns) == sorted(cols)

2. Create a function that returns the average aggregate rating for each city. Expected returned value is a Series datatype which contains name of city as index and average aggregate rating as value. **(2pts)**

In [4]:
def exercise_2(merged_df):
    return merged_df.groupby('city')['aggregate_rating'].mean()

In [5]:
res_series = exercise_2(merged_df)
assert True == np.isclose(3.302075, res_series[res_series.index == 'Pasay City'],
                          rtol=1e-05, atol=1e-08, equal_nan=False)[0]
assert True == np.isclose(1.890741, res_series[res_series.index == 'Valenzuela City'],
                          rtol=1e-05, atol=1e-08, equal_nan=False)[0]
assert True == np.isclose(1.558333, res_series[res_series.index == 'Malabon City'],
                          rtol=1e-05, atol=1e-08, equal_nan=False)[0]

3. Using the apply function of pandas convert the rating_text to a numeric equivalent. You are to introduce a new column in merged_df called `rating_numeric` which is based on the value from rating_text: **(3pts)**

Excellent = 5 <br>
Very Good = 4 <br>
Good = 3 <br>
Average = 2 <br>
Poor = 1 <br>
Not rated = 0 <br>

In [6]:
map = {
    "Excellent": 5,
    "Very Good": 4,
    "Good": 3,
    "Average": 2,
    "Poor": 1,
    "Not rated": 0
}
merged_df['rating_numeric'] = merged_df['rating_text'].apply(lambda x : map.get(x, 0))

In [7]:
assert 868 == merged_df[merged_df.rating_numeric == 0].shape[0]
assert True == ('rating_numeric' in merged_df.columns)

4. Create a function which filters the merged dataframe to only contain rows coming in from a specific city. Expected returned value is a dataframe **(2pts)**

In [8]:
def exercise_4(merged_df, city):
    return merged_df[merged_df["city"] == city]

In [9]:
    
assert 'Makati City' == exercise_4(merged_df, 'Makati City').city.unique()[0]
assert (976, 36) == exercise_4(merged_df, 'Makati City').shape

assert 'Mandaluyong City' == exercise_4(merged_df, 'Mandaluyong City').city.unique()[0]
assert (443, 36) == exercise_4(merged_df, 'Mandaluyong City').shape

assert (0, 36) == exercise_4(merged_df, 'Quezon  City').shape

5. Create a function to filter the dataframe to only contain certain columns passed in the function. Expected returned value is a dataframe **(1pt)**

In [10]:
def exercise_5(merged_df, cols_to_filter):
    return merged_df[cols_to_filter]

In [11]:
cols = ['name', 'cuisines', 'city', 'aggregate_rating']
assert sorted(cols) == sorted(exercise_5(merged_df, cols).columns)
assert (6830, 4) == exercise_5(merged_df, cols).shape

cols = ['average_cost_for_two', 'book_url', 'cuisines', 'currency', 'deeplink',
       'events_url', 'featured_image', 'has_online_delivery',
       'has_table_booking', 'include_bogo_offers', 'is_book_form_web_view']
assert sorted(cols) == sorted(exercise_5(merged_df, cols).columns)
assert (6830, 11) == exercise_5(merged_df, cols).shape

6.  What is the most common restaurant name in the dataset? **(2pts)** Write down your answer and show code used to come up with the answer.

Starbucks (99 instances)

In [12]:
merged_df.groupby('name').size().sort_values(ascending=False)

name
Starbucks                         99
Jollibee                          77
McDonald's                        66
KFC                               54
BonChon Chicken                   49
                                  ..
HotBox Kitchen                     1
Hotel Bar                          1
Hotties Gourmet                    1
House Manila - Remington Hotel     1
¡VENGO!                            1
Length: 3286, dtype: int64

7. Which restaurant has the most expensive average cost for two? **(2pts)** Write down your answer and show code used to come up with the answer.

The Tasting Room

In [13]:
merged_df[['name','average_cost_for_two']].sort_values('average_cost_for_two', ascending=False)

                                           name  average_cost_for_two
1713                           The Tasting Room                 10000
5      Spiral - Sofitel Philippine Plaza Manila                  6000
1728               Medley Buffet - Okada Manila                  5400
1750  Wolfgang's Steakhouse by Wolfgang Zwiener                  5100
2039  Wolfgang's Steakhouse by Wolfgang Zwiener                  5100
...                                         ...                   ...
6796                           Katherine's Cafe                     0
4714                            The Baking Crew                     0
6482                                   Toritake                     0
6192                                  Sari Salo                     0
6509                                   KapeTayo                     0

[6830 rows x 2 columns]

8. How many restaurants do not have a zipcode? **(1pt)** Write down your answer and show code used to come up with the answer.

6713 restaurants

In [14]:
merged_df['zipcode'].isnull().sum()

np.int64(6713)

9. How many restaurants in the dataset allow online delivery? **(1pt)** Write down your answer and show code used to come up with the answer. <br><br> 0 restaurants

In [15]:
merged_df[merged_df['has_online_delivery'] == 1]

Empty DataFrame
Columns: [id, average_cost_for_two, book_url, cuisines, currency, deeplink, events_url, featured_image, has_online_delivery, has_table_booking, include_bogo_offers, is_book_form_web_view, is_delivering_now, is_table_reservation_supported, is_zomato_book_res, menu_url, mezzo_provider, name, photos_url, price_range, thumb, url, address, city, city_id, country_id, latitude, locality, locality_verbose, longitude, zipcode, aggregate_rating, rating_color, rating_text, votes, rating_numeric]
Index: []

[0 rows x 36 columns]

10. Which locatlity has more expensive food? Poblacion or Salcedo Village? **(3pts)** Write down your answer and show code used to come up with the answer.
Salcedo Village would generally have more expensive food due to exhibiting higher measures of central tendency such as its mean and median of `average_cost_for_two`.

In [16]:
#metric for more expensive food is defined to be the mean average_cost_for_two per locality

merged_df[(merged_df["locality"] == "Poblacion") | (merged_df["locality"] == "Salcedo Village")].groupby('locality')['average_cost_for_two'].mean().sort_values(ascending=False)

locality
Salcedo Village    989.102564
Poblacion          898.214286
Name: average_cost_for_two, dtype: float64

In [17]:
merged_df[(merged_df["locality"] == "Poblacion") | (merged_df["locality"] == "Salcedo Village")].groupby('locality')['average_cost_for_two'].median().sort_values(ascending=False)

locality
Salcedo Village    850.0
Poblacion          800.0
Name: average_cost_for_two, dtype: float64